In [1]:
1+1

2

In [2]:
1+2

3

In [4]:
3/2.4

1.25

In [5]:
3*9

27

In [6]:
a = 1

In [7]:
b = 2

In [8]:
a+b

3

In [12]:
a = 'python'

In [13]:
print(a)

python

In [14]:
a

'python'

In [15]:
a = 3
if a > 1:
    print('a is greater than 1')

a is greater than 1

In [17]:
a = 1
if a > 1:
    print('a is greater than 1')

In [18]:
for a in [1,2,3]:
    print(a)

1
2
3

In [19]:
i = 0
while i < 3:
    i=i+1
    print(i)

1
2
3

In [22]:
def add(a,b):       # 함수 정의
    return a+b

add(3,4)

7

In [23]:
#######################################################
# 숫자형
#######################################################

In [24]:
# 나머지 연산자 

7 % 3

1

In [25]:
3 % 7

3

In [26]:
12 % 2  # 2로 나눈 나머지가 0이면 항상 짝수

0

In [28]:
13 % 2  # 2로 나눈 나머지가 1이면 항상 홀수

1

In [30]:
30 % 5 # 특정 수로 나눈 나머지가0이면 그 수 의 배수이다

0

In [31]:
7 / 4

1.75

In [32]:
7 // 4

1

In [33]:
#######################################################
# 문자형
#######################################################

In [34]:
"hello world"

'hello world'

In [35]:
'python is fun'

'python is fun'

In [36]:
"""life is too short"""

'life is too short'

In [37]:
'''you need python'''

'you need python'

In [38]:
"python's favorite food is perl"

"python's favorite food is perl"

In [39]:
'"python is very easy." he says.'

'"python is very easy." he says.'

In [40]:
'python\'s favorite food is perl'

"python's favorite food is perl"

In [42]:
multiline = "life is too short\nyou need  python"

In [44]:
multiline

'life is too short\nyou need  python'

In [45]:
mutiline = '''
life is too short
you need  python
'''

In [46]:
print(multiline)

life is too short
you need  python

In [47]:
mutiline = """
life is too short
you need  python
"""

In [48]:
print(multiline)

life is too short
you need  python

In [49]:
head = "python"
tail = "is fun"
head+tail

'pythonis fun'

In [50]:
a = 'python'
a*2

'pythonpython'

In [51]:
print("="*50)
print("my progran")
print("="*50)

==================================================
my progran
==================================================

In [52]:
a = 'life is'    #빈칸도 글자다
len(a)

7

In [53]:
a = "life is too short, you need python" # 파이썬은 0에서부터 시작한다 자바도

In [54]:
a[3]   # r은 1에서 시작

'e'

In [55]:
a[-1]

'n'

In [56]:
a[-0]

'l'

In [57]:
a[0:4]

'life'

In [58]:
a[0:3] #뒷자리는 이하가 아니라 미만이다

'lif'

In [59]:
a[5:7]

'is'

In [60]:
a[19:]

'you need python'

In [61]:
a[:17]

'life is too short'

In [62]:
a[:]

'life is too short, you need python'

In [63]:
a[19:-7]

'you need'

In [68]:
a = "20010331rainy"

In [69]:
date =a[:8]

In [70]:
date

'20010331'

In [74]:
weather =a[8:]

In [75]:
weather

'rainy'

In [76]:
"i eat %d apples." % 3

'i eat 3 apples.'

In [77]:
"i eat %d apples." % 5

'i eat 5 apples.'

In [79]:
"i eat %s apples." % 'five'

'i eat five apples.'

In [80]:
number = 3
'i eat %d apples.' % number

'i eat 3 apples.'

In [81]:
number = 10
day = "three"
'i ate %d appels. so i was sick for %s days' %(number, day)

'i ate 10 appels. so i was sick for three days'

In [82]:
"%10s" % 'hi'

'        hi'

In [83]:
"%-10sjane." % 'hi'

'hi        jane.'

In [86]:
"%10.4f" % 3.42134234

'    3.4213'

In [87]:
"i eat {0} appels".format(3)

'i eat 3 appels'

In [88]:
"i eat {0} apples".format("five")

'i eat five apples'

In [91]:
number = 10
day = 'three'
"i ate {0} appeles so i was sick for {1} days". format(number, day)

'i ate 10 appeles so i was sick for three days'

In [92]:
'i ate {number} apples. so iwas sick for {day} days.'. format(number=10, day=3)

'i ate 10 apples. so iwas sick for 3 days.'

In [93]:
"i ate {0} apples. so i was sick for {day} days.". format(10,day=3)

'i ate 10 apples. so i was sick for 3 days.'

In [95]:
"{0:<10}".format("hi")

'hi        '

In [96]:
"{0:^10}".format("hi")

'    hi    '

In [97]:
# 함수 #

In [98]:
a ="habby"
a.count("b")

2

In [99]:
a = "python is the best dhoice"
a.find("b")

14

In [100]:
a.find("k")

-1

In [101]:
a = "life si too short"
a.index("t")

8

In [102]:
",".join('abcd')

'a,b,c,d'

In [104]:
a="hi"
a.upper()

'HI'

In [105]:
" ".join('abcd')

'a b c d'

In [106]:
a= "HI"
a.lower()

'hi'

In [107]:
a

'HI'

In [108]:
a = ' hi '
a.strip()

'hi'

In [115]:
a = "life is too short"          
a.replace("life", "your leg")

'your leg is too short'

In [116]:
a = "life is too short"
a.spli()    #많이씀

['life', 'is', 'too', 'short']

In [117]:
b = "a:b:c:d"
b.split(":")

['a', 'b', 'c', 'd']

In [119]:
# 리스트 자료형 # 제일 중요한 주제

In [120]:
# 리스트이름 = [요소1, 요소2, 요소3....] 대괄호 주의

a=[]
b=[1,2,3,]
c=["life", "is", "too", "short"]
d=[1,2,"life","is"]
e=[1,2,["life", "is"]]

In [121]:
a=[1,2,3]
a

[1, 2, 3]

In [122]:
a[0]

1

In [124]:
a[0]+ a[1]

3

In [125]:
a[-1]

3

In [126]:
a=[1,2,3,["a","b","c"]]

In [127]:
a[0]

1

In [129]:
a[-1]

['a', 'b', 'c']

In [130]:
a[-1][0]

'a'

In [136]:
a = [1,2,3,4,5]
a[0:2] #2 미만까지표기

[1, 2]

In [137]:
a=[1,2,3]
b=[4,5,6]
a+b

[1, 2, 3, 4, 5, 6]

In [139]:
a=[1,2,3]
a*3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [140]:
len(a)

3

In [142]:
a=[1,2,3]
str(a[2])+"hi"

'3hi'

In [143]:
a=[1,2,3]

In [144]:
a[2]=4

In [145]:
a

[1, 2, 4]

In [146]:
del a[1]

In [147]:
a

[1, 4]

In [148]:
a=[1,2,3,4,5]
del a[2:]
a

[1, 2]

In [149]:
a = [1,2,3]
a.append(4)
a

[1, 2, 3, 4]

In [150]:
a.append([5,6])

In [151]:
a

[1, 2, 3, 4, [5, 6]]

In [152]:
a=[1,4,3,2]
a.sort()
a

[1, 2, 3, 4]

In [153]:
a=["a","c","b"]
a.reverse()
a

['b', 'c', 'a']

In [164]:
a=["a","c","b"]
a.sort()
a

['a', 'b', 'c']

In [167]:
a

['a', 'b', 'c']

In [169]:
a.reverse()

In [170]:
a

['c', 'b', 'a']

In [172]:
a=["a","b","c"]
a.index("c")

2

In [173]:
a = [1,2,3]
a.insert(0,4)
a

[4, 1, 2, 3]