<a href="https://colab.research.google.com/github/iris3405/pythonbasic/blob/main/FridayQUIZ27.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = {'Yujin':70, 'Hyewon':10}
print(a)

{'Yujin': 70, 'Hyewon': 10}

In [ ]:
# 데이터 입력 받아서 처리
i = {'yujin':70,"hyewon":100}

a = map(int,input().split())
if i in {'yujin'} 

print(a)

In [ ]:
# 27
key = input().split()
value = map(int, input().split())

print(dict(zip(key,value)))

yujin hyewon
70 100
{'yujin': 70, 'hyewon': 100}

In [ ]:
#28
text = input()

for i in range(len(text) - 1):
  print(text[i],text[i+1],sep='')

python
py
yt
th
ho
on

In [ ]:
#29
#txt = input()
#if txt.isupper():
#  print('YES')
#else:
#  print('NO') 

txt = input()

if ord(txt) >= 65 and ord(txt) <=90: #chr도 가능
  print('YES')
else:
  print('NO')

#isdigit 숫자인지확인

A
YES

In [ ]:
#30번

a = 'pineapple is yummy'


print(a.find('pine'))

0

In [ ]:
#31
#시간복잡도

In [ ]:
#32

txt = input()

a = list(txt.split())
print(len(a))

저 넓은 세상을 네 눈앞에 그려봐
6

In [ ]:
# strip
# lstrip
# rstrip

txt = "빅데이터 "
print(txt.strip())

빅데이터

In [ ]:
#33

for i in range(10-1,-1,-1):
  print(i)

9
8
7
6
5
4
3
2
1
0

In [ ]:
# 33번

txt = input()
txt2 = list(txt.split())
txt3 = [int(i) for i in txt2]

for i in range(len(txt3)-1,-1,-1):
  print(txt3[i], end=' ')

1 2 3 4 5
5 4 3 2 1

In [ ]:
# 34번

num1 = input()
num2 = num1.strip().split()
num3 = [int(i) for i in num2 ]

if num3  != sorted(num3):
  print('NO')
else:
  print('YES')

3 4 5 1 2
NO

In [ ]:
# <list>.sort()를 사용하면 원본 리스트 자체의 순서를 변화 시킨다.
# sorted(<list>) 를 사용하면 정렬된 새로운 리스트를 반환 받는다.
#<ilst>.sort()새로운 복사본을 만들지 않기 때문에 sorted(<list>) 보다 빠르다.

In [ ]:
num = int(input())
 
for i in range(1, 10, 1):
    print(num*i,end=" ")

2
2 4 6 8 10 12 14 16 18

In [130]:
# 37

#count 함수 
#기본 문법 : 변수.count(찾는값)

# a = 'ooyyy'
#a.count('y')

#b = 'ox o x oxoxoxo'
#b.count('ox')

a = input().split()
b = list(set(a))
max = 0

for i in range(len(b)):  #
  if a.count(b[i]) > a.count(b[max]):
     max = i
#채연의 개수 2 > 채연의 개수 2
#은비의 개수 4 > 채연의 개수 2 max = 1
#원영의 개수 2 > 은비의 개수 4 max = 1 

print("%s(이)가 총 %d표로 반장이 되었습니다." % (b[max], a.count(b[max])))


# 원영 원영 은비 은비 은비 은비 채연 채연

원영 원영 은비 은비 은비 은비 채연 채연
은비(이)가 총 4표로 반장이 되었습니다.

In [134]:
#39
a = input()
print(a.replace('q','e'))

qqerefe
eeerefe

In [142]:
#41 제일중요 시험 나올확률 높음*****
a = int(input()) # 숫자를 입력 받는다.

re = 0  # re변수 초기화

for i in range(1, a+1): # 반복문 (그 수까지)
  if a % i == 0:  # 조건 입력받은 수를 그 수 앞에 모든 수로 나눈 나머지 값이 0이면 
    re += 1    #re 값을 하나씩 증가

if re == 2:#re 값이 2면
  print('YES')  #소수
else:    #아니면 
  print('NO')    #NO

12
NO

In [143]:
a = int(input())
b = 0

for i in range(2,a):
  if a%i==0:
    b=1
if b==0:
  print('YES')
else:
  print('NO')

1
YES

In [154]:
#44
 

print(sum(map(int, input())))

1234
10

In [155]:
n = list(map(int,input())) # 숫자로 입력받기
sum = 0 
for i in n: #반복문: 입력 받은 숫자를 하나씩
 sum += i   # 누적 합계 구하기

print(sum) #합계 출력

1234
10

In [157]:
sum = 0
for i in input( ):
  sum += int(i)
print(sum)

1234
10

In [190]:
#46
a = int(input()) #입력값 지정

sum = 0   # 배수 입력
for i in list(range(a)):  # 1에서 20까지
  for j in str(i):  # 숫자를 무자로 지정
    sum += int(j)   # 각 자리수를 더하라

print(sum) # 결과값을 출력

21
102