In [1]:
t1 = ()

In [2]:
type(t1)

tuple

In [3]:
t4 = 1,2,3

In [4]:
type(t4)

tuple

In [5]:
t2 = 1

In [7]:
type

type

In [8]:
t3 = (1)

In [9]:
t5 = (1,)

In [10]:
type(t5)

tuple

In [13]:
s1 = set([1,2,3])

In [14]:
s1

{1, 2, 3}

In [16]:
a = 0
while a < 10:
    a = a+1
    print(a)

1
2
3
4
5
6
7
8
9
10

In [17]:
########## For #########

In [20]:
test_list = ['one','two','three']
for i in test_list:
    print(i)

one
two
three

In [22]:
marks = [90, 25,67,45,80]

number = 0
for mark in marks:
    number = number +1
    if mark >= 60:
        print("%d번 학생은 합격입니다." % number)
    else:
        print("%d번 학생은 불합격 입니다." % number)

1번 학생은 합격입니다.
2번 학생은 불합격 입니다.
3번 학생은 합격입니다.
4번 학생은 불합격 입니다.
5번 학생은 합격입니다.

In [24]:
marks = [90,25,67,45,80]

number = 0
for mark in marks:
    number = number +1
    if mark < 60:
        continue
    print("%d번 학생 축하합니다. 합격입니다." % number)

1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.

In [25]:
a = range(0,10)

In [26]:
a

range(0, 10)

In [32]:
add = 0 
for i in range(1, 11):
    add = add + i
    
pirnt(add)
55

NameError: name 'pirnt' is not defined

In [34]:
a = 0
for i in range(0, 10):
    a = a+1
    print(a)

1
2
3
4
5
6
7
8
9
10

In [36]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [61]:
for i in range(1,11):
    i % 2 ==0:
    print(i)

SyntaxError: invalid syntax (<ipython-input-61-59d5f8ddace7>, line 2)

In [40]:
mark = [90,25,67,45,80]
for number in range(len(mark)):
    print(number)

0
1
2
3
4

In [76]:
for i in range(2,10):
    for j in range(1,10):    #외워버리기
        print(i*j, end=" ")
    print('')

2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

In [72]:
for i in range(1,11):
    if i % 2 == 0:
        print(i)

2
4
6
8
10

In [71]:
for i in range(1, 11, 3):
    print(i)

1
4
7
10

In [79]:
a = [1,2,3,4]
result = []
for num in a:
    result.append(num*3)
print(result)

[3, 6, 9, 12]

In [83]:
a = [1,2,3,4]
result = [num *3 for num in a]
print(result)

[3, 6, 9, 12]

In [89]:
sum = 0
i = 1
while i <= 1000:
    if i % 3 == 0:   #3의 배수 확인
        sum = sum + i
    i = i + 1
    
print(sum)

166833

In [100]:
i = 0
while True:
    i = i + 1
    if i > 5:break
    print(i * "*")

*
**
***
****
*****

In [101]:
sum = 0
for i in range(1,101):
    sum = sum + i
    i = i + 1

print(sum)

5050

In [103]:
def add(a, b):
    return a + b

In [104]:
a = 3
b = 4
c = add(a, b)
print(c)

7

In [105]:
d = add(1,2)

In [106]:
print(d)

3

In [107]:
def say():
    return 'hi'

In [108]:
a = say()
print(a)

hi

In [111]:
def add(a,b):
    print('%d. %d의 합은 %d입니다.'% (a,b,a+b))

In [112]:
add(3,4)

3. 4의 합은 7입니다.

In [113]:
a = add(3,4)
print(a)

3. 4의 합은 7입니다.
None

In [114]:
def say():
    print('hi')

In [115]:
say()

hi

In [116]:
def add_many(*args):
    result = 0
    for i in args:
        result = result + i
    return result

In [117]:
result = add_many(1,2,3)
print(result)

6

In [118]:
result = add_many(1,2,3,4,5,6,7,8,9,10)
print(result)

55

In [130]:
def add_mul(choice, *args):
    if choice == "add":
        result = 0
        for i in args:
            result = result + i
    elif choice == "mul":
        result = 1
        for i in args:
            result = result * i
    return result

In [131]:
result = add_mul('add', 1,2,3,4,5)
print(result)

15

In [132]:
result = add_mul('mul', 1,2,3,4,5)
print(result)

120

In [133]:
def add_mul(a,b):
    return a+b, a*b

In [134]:
result = add_mul(3,4)

In [139]:
result1, result2 = add_mul(3,4)

In [140]:
print(result1)

7

In [141]:
print(result2)

12

In [143]:
def add_and_mul(a,b):
    return a+b
    return a*b

In [150]:
def say_myself(name, old, man=True):
    print("나의 이름은 %s 입니다." % name)
    print("나이는 %d살입니다." % old)
    if man:
        print("남자입니다")
    else:
        print("여자입니다")

In [152]:
say_myself("김영차", 27)

나의 이름은 김영차 입니다.
나이는 27살입니다.
남자입니다

In [153]:
a = 1
def vartest(a):
    a = a + 1

In [154]:
vartest(a)

In [155]:
print(a)

1

In [157]:
#지역 변수 : 특정 범위안에서만 통용
#전역 변수 : 전체에서 통용

In [158]:
def vartest(a):
    a = a + 1

In [159]:
vartest(3)

In [160]:
print(a)

1

In [163]:
a = 1
def vartest(a):
    a = a+1
    return a

a = vartest(a)
print(a)

2

In [166]:
a = 1
def vartest():
    global a
    a = a + 1
    
vartest()

In [167]:
print(a)

2

In [168]:
add = lambda a, b: a+b
result = add(3,4)
print(result)

7

In [169]:
a = input()

Life is too short, you need python

In [170]:
a

'Life is too short, you need python'

In [171]:
#input은 문자로 취급한다 입력값

In [172]:
a = input()

123

In [173]:
a

'123'

In [178]:
number = int(input('숫자를 입력하세요: '))

숫자를 입력하세요: 123

In [179]:
number

123

In [180]:
a = 123
print(a)

123

In [181]:
a = 'python'
print(a)

python

In [182]:
a = [1,2,3]
print(a)

[1, 2, 3]

In [185]:
print('life'+'is'+'too'+'short')

lifeistooshort

In [186]:
print('life','is','too short')

life is too short

In [193]:
for i in range(10):
    print(i, sep= '   ') #sed 기능 알아오기

0
1
2
3
4
5
6
7
8
9

In [194]:
f = open('새파일.txt', 'w')
f.close()

In [207]:
####cmd ///dir, cd, cd../md만들기/rd삭제

In [210]:
f = open('new.txt', 'w')
f.close()

In [234]:
f = open("new.txt", 'w')
for i in range(1,11):
    data = "%dwwwwwww. \n" % i
    f.write(data)
f.close()

In [217]:
def is_odd(i):
        if i % 2 == 1:
            return print("홀수")
        else:
            return print("짝수")
        
    
is_odd(7)

홀수

In [220]:
is_odd(8)

짝수

In [231]:
def average(*args):
    sum = 0
    for i in args:
        sum = sum + i
    return sum / len(args)

average(1,2,3)

2.0

In [232]:
input1 = input("첫번째 숫자를 입력하세요:")
input2 = input("두번쨰 숫자를 입력하세요:")

total = input1 = input2
print("두 수의 합은 %s")

KeyboardInterrupt: Interrupted by user

In [233]:
print("".join(["you","need","python"]))

youneedpython